@import 'sharedStyles';

.accountLink{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  span{
    font-weight: $font-weight-regular;
    font-size: $font-size-xs;
    color: $text-baton-cancel-color;
    line-height: 150%;
  }
}