// color
$main-color: #59b17a;
$main-color-active: #3f945f;
$secondary-color: #f7f8fa;
$background-color: #f7f8fa;
$text-color-main: #000;
$text-color-secondary: #fff;
$bg-color-baton: rgba(29, 30, 33, 0.1);
$bg-color-baton-active: rgba(29, 30, 33, 0.25);

$text-color-baton: #59b17a;
$placeholder-color: rgba(29, 30, 33, 0.6);
$text-baton-color: #93939a;
$text-baton-cancel-color: rgba(29, 30, 33, 0.4);

// border
$border-input: 1px solid rgba(29, 30, 33, 0.2);
$active-border-input: 1px solid #59b17a;

$border-social:1px solid rgba(247, 248, 250, 0.1);
$border-social-active: 1px solid rgba(247, 248, 250, 0.5);

// fonts ===========================
$font-family: 'Inter', sans-serif;
$font-weight-bold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;

// font size
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;