@import 'sharedStyles';

.navBar {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 40px;
	transition: color 0.3s ease, background-color 0.3s ease;
	margin-bottom: 50px;
}

.navBarLink {
	align-items: center;
	gap: 10px;
	font-weight: $font-weight-bold;
	font-size: $font-size-sm;
	line-height: 129%;
	text-decoration: none;
	color: inherit;
	transition: color 0.3s ease, background-color 0.3s ease;
	&:hover {
		color: $text-button-color;
	}
}
@media screen and (min-width: $breakpoint-tablet) {
	.navBar {
		margin-bottom: 10px;
	}
}
