@import 'sharedStyles';

.statisticsBox {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-bottom: 20px;
	li {
		border: 1px solid $bg-color-button;
		border-radius: 8px;
		padding: 14px;
		width: 124px;
		max-height: 88px;
		background: $text-white-color;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		p {
			font-weight: $font-weight-bold;
			font-size: $font-size-md;
			line-height: 125%;
			color: $text-color-main;
			padding-left: 7px;
		}
	}
}
.sector {
	display: flex;
	gap: 14px;
	padding: 6px;
	span {
		font-weight: 400;
		font-size: 12px;
		line-height: 117%;
		color: $text-button-cancel-color;
	}
}
.statisticsBox li:hover{border-color: #4CAF50; 
}
.statisticsBox li.active  {
	border-color: #4CAF50; 
}

@media screen and (min-width: $breakpoint-tablet) {
	.statisticsBox {
		justify-content: space-around;

	gap: 20px;
	li {
		max-width: 221px;
		max-height: 108px;
		p {
			font-size: $font-size-xxl;
		}
	}
}

}
@media screen and (min-width: $breakpoint-desktop) {
	.statisticsBox {
		li {
			max-width: 240px;
	}
}
}