@import 'sharedStyles';
.sideBarHeader {
  position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
}
.divLink {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1.15px solid #f1f1f1;
	border-radius: 60px;
	width: 112px;
	height: 46px;
	background: $text-white-color;
}
.span {
  display: flex;
		justify-content: center;
		align-items: center;
    gap: 10px;
    transition: tra;

	&:hover {
		width: 70px;
		height: 16px;
		border-radius: 24px;
		padding: 8px 12px;
		background-color: $main-color;
		color: $text-white-color;
	}
}
