@import 'sharedStyles';

.formBox {
	display: flex;
	flex-direction: column;
	gap: 12px;
	align-items: center;
	justify-content: center;
	input {
		border: 1px solid rgba(29, 30, 33, 0.1);
		border-radius: 60px;
		width: 335px;
		height: 44px;
		padding: 0 20px;
		background: #fff;
		font-weight: 400;
		font-size: 12px;
		line-height: 150%;
		color: rgba(29, 30, 33, 0.4);
	}

	button {
		border-radius: 60px;
		padding: 13px 139px;
		width: 335px;
		height: 44px;
		background: #59b17a;
		font-weight: 500;
		font-size: 14px;
		line-height: 129%;
		color: #fff;
		width: 100%;
    margin-top: 16px;
	}
	a {
		font-weight: 400;
		font-size: 12px;
		line-height: 150%;
		color: rgba(29, 30, 33, 0.4);
	}
}

button:hover {
	background-color: darken(#59b17a, 10%);
	transform: scale(1.02);
	transition: 0.3s;
}
