@import  'sharedStyles';

.loginSection {
  min-height: 100vh;
}
.titleSection {
  margin-bottom: 15px;

  h1 {
    font-weight: $font-weight-bold;
    color: $text-color-main;
    font-size: $font-size-xxxl;
    line-height: 121%;
    font-family: $font-family;
    // max-width: 373px;
  }

  img {
    width: 95px;
    height: 93px;
    transform: translate(220px, 38px);
  }
  span {
    color: $main-color;
  }
}

@media screen and (min-width: $breakpoint-mobile) {
  .loginSection {
    height: 812px;
  }
}