@import 'sharedStyles';
.sideBarHeader {
  position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
}
.divLink {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1.15px solid #f1f1f1;
	border-radius: 60px;
	padding: 11px 26px;
	background: $text-white-color;
	span {
		display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px;
			color: $text-button-color;
}
&:hover {
	background-color: $main-color;
	span {
		color: #f1f1f1; 
}
}}




